if SHIELD_APOLLOSP3_LEFT

config ZMK_KEYBOARD_NAME
    default "ApolloSP3"

# 「BLE_」を抜いたこの形が正解です
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_APOLLOSP3_LEFT || SHIELD_APOLLOSP3_RIGHT
config ZMK_SPLIT
    default y
endif
