# defconfigには先ほど定義した左右のシールドに対する設定を書きます。
# ここでは、左手のデバイスをPCと接続するBLEデバイスとしています。

if SHIELD_APOLLOSP3_LEFT

# 左手（Central）側のデバイス名
config ZMK_KEYBOARD_NAME
    default "ap_l"

# 左手側をBluetooth接続の親機（Central）として設定
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_APOLLOSP3_RIGHT

# 右手（Peripheral）側のデバイス名
# 書き込み時に区別しやすいよう名前を変えることも可能ですが、通常は統一します
config ZMK_KEYBOARD_NAME
    default "ap_r"

endif

if SHIELD_APOLLOSP3_LEFT || SHIELD_APOLLOSP3_RIGHT

# 分離型キーボードであることを定義
config ZMK_SPLIT
    default y

endif
